/deployment/terraform/.terraform/
/deployment/terraform/*.tfstate
/deployment/terraform/*.tfvars
/deployment/terraform/*.hcl
/deployment/terraform/*.tfvars.json
/deployment/terraform/*.tfstate
/deployment/ansible/inventory/*
/deployment/ansible/collections/ansible_collections/*
/deployment/ansible/*.pem
__pycache__/
terraform.tfstate.backup
.idea/
.DS_Store
*.env
*.pem
*.tfstate
*.tfstate.backup
/env_file.env
*.sh
*.toml
*.lock
